/*
	yellow: FFF046
*/
body {
	font-family: 'Titillium Web', sans-serif; 
}
h1 {
	font-weight: normal;
	font-family: 'Armata', sans-serif;
	font-size: 23px;
}
img {
	display: block; 
}
#global {
	width: 960px;
	margin: 0 auto;
	padding-top: 70px;
}
#header {
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -480px;
	background-color: white;
	width: 960px;
	border-bottom: 1px solid black;
	z-index: 9999;
}
#logo {
	margin: 10px;
}
#navigation {
	position: absolute;
	left: 330px;
	top: 19px;
	text-transform: lowercase;
	padding: 0;
	margin: 0;
	list-style: none;
}
#navigation li {
	float: left;
	width: 106px;
}
#navigation li a {
	color: black;
	text-decoration: none;
}
.project {
	display: block;
	float: left;
	margin: 10px;
	position: relative;
}
.project a {
	text-decoration: none;
}
.project .title {
	background-color: #FFF046;
	color: black;
	font-size: 17pt;
	font-family: 'Armata', sans-serif;
	text-transform: lowercase;
	padding: 8px 15px;
	position: absolute;
	left: 0;
	bottom: 0;
	width:270px;
	display: none;

}
.project:hover .title {
	display: block;
}
.paragraphs {
	font-size: 17px;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
	-moz-column-gap:50px; /* Firefox */
	-webkit-column-gap:50px; /* Safari and Chrome */
column-gap:40px;
}